<%= provide(:title, @listing.title) %>

<h1><%= @listing.title %></h1>

<p>Location: <%= @listing.country.name %></p>
<p>Description: <%= @listing.description %></p>
<p> Available Dates:
	<% @listing.available_dates.each do |date| %>
	<%= date.date.strftime("%a %d %b") %>,
	<% end %>
</p>
