<%= provide(:title, @listing.title) %>

<h1><%= @listing.title %></h1>

<div class= "row">
	<div class="col-sm-12">
	<% @listing.photos.length.times do |i| %>
		<%= link_to @listing.photos[i].url do %>
		<%= image_tag(@listing.photos[i].url(:thumb), alt: "Missing image") %>
		<% end %>
	<% end %>
	</div>
</div>
<p>Location: <%= @listing.country.name %></p>
<p>Description: <%= @listing.description %></p>
<%= content_tag :p, class: 'dates', data: {dates: @dates} do %> 
	Available Dates:
	<% @listing.available_dates.where(availability: true).each do |date| %>
	<%= date.date.strftime("%a %d %b") %>,
	<% end %>
<% end %>
<p>Max Guests Allowed: <%= @listing.max_guests %></p>


<% if current_user.id == @listing.user_id%>

	<h3>This are the reservations for your listing </h3>
	<%= render @listing.reservations %>

<% else  %>
	<% if reservation_exists?(@listing.id) %>
		<h3>Book Now!</h3>
		<ul class="list-group">
			<%= render 'reservations/new'%>
		</ul>
	<% else %>
		<h3> 
		<%= link_to "You have made a reservation for this listing. Please click here to view your reservations ", reservations_path %>
		</h3>
	<% end %>
<% end %>
